# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]

# ==========================
# Virtual Environments
# ==========================
venv/
.venv/
env/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Raw Data
# ==========================
data/raw/

# ==========================
# Processed Data
# ==========================
data/processed/

# ==========================
# Exported Datasets
# ==========================
outputs/exports/

# ==========================
# Trained Models
# ==========================
outputs/models/

# ==========================
# Model Files
# ==========================
*.joblib
*.pkl
*.pickle
*.h5
*.pt
*.pth

# ==========================
# Cache
# ==========================
.cache/
.pytest_cache/

# ==========================
# Logs
# ==========================
*.logoutputs/models/
outputs/exports/
